* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #99d8df;
}
h2,
h5 {
  font-family: "Akaya Telivigala", cursive;
  font-size: 40px;
}

/***********************NAV*******************************/
nav {
  background-color: #3d2314;
  font-family: "Akaya Telivigala", cursive;
  display: flex;
  height: 80px;
}
nav ul {
  float: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
}
nav ul a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}
nav ul a:hover {
  background-color: #f1dab1;
  color: black;
  font-weight: bold;
}
.checkbtn {
  color: white;
  line-height: 80px;
  margin-left: 40px;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 120px;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
/***********************MAIN*******************************/
.main-index {
  background-color: #f7bd01;
  align-items: center;
}
.main-index .contenido {
  margin-top: 12%;
}
.main-index h1 {
  margin-left: 50px;
  font-family: "Bungee Inline", cursive;
  font-size: 40px;
  line-height: 60px;
  color: #3d2314;
  width: 50%;
}
.titulo {
  color: white;
  font-size: 3.5rem;
}
.main-index p {
  font-family: "Akaya Telivigala", cursive;
  color: #3d2314;
  font-size: 22px;
  line-height: 30px;
  width: 100%;
  text-align: justify;
  justify-content: center;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #4d3e2b;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}
.boton .btn {
  position: absolute;
  margin-left: 20%;
  margin-top: 10%;
  font-size: 20px;
}
.btn:hover {
  background-color: #f9c5c7;
  box-shadow: 0 0 10px #f9c5c7, 0 0 40px #f9c5c7, 0 0 80px #f9c5c7;
  transition-delay: 1s;
}
.btn span {
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f9c5c7);
}
.btn:hover #span1 {
  left: 100%;
  transition: 1s;
}
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f9c5c7);
}
.btn:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f9c5c7);
}
.btn:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f9c5c7);
}
.btn:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
@media (max-width: 400px) {
  .main-index h1 {
    text-align: left;
    justify-content: left;
    align-items: center;
    margin-left: 0px;
  }
  .main-index p {
    display: none;
  }
  iframe {
    width: 340px;
    height: 200px;
  }
}

/***********************HERO (CATALOGO)*******************************/
.hero {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9c5c7;
}
.hero .card {
  border-radius: 10px;
}
.card a {
  border: 2px white solid;
  color: white;
}
.card-body {
  background-color: #f04f56;
  color: white;
}

div #cabecera {
  background-color: #f04f56;
  font-family: "Akaya Telivigala", cursive;
  color: white;
}
div #cabecera2 {
  background-color: #7343bc;
  font-family: "Akaya Telivigala", cursive;
  color: white;
}
div #cabecera3 {
  background-color: #f56032;
  font-family: "Akaya Telivigala", cursive;
  color: white;
}
section .card:hover {
  transform: scale(1.05, 1.05);
}
/***********************RECETAS*******************************/
.recetas {
  background-color: #f1dab1;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.recetas div h3 {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 12px;
  background-color: #f56032;
}
/***********************BLOG*******************************/
.blog {
  background-color: #fd657e;
}
.blog .parrafo {
  margin-top: 5%;
}

/***********************FOOTER*******************************/
footer {
  background-color: #3d2314;
  font-family: "Akaya Telivigala", cursive;
}
footer section {
  display: flex;
}
.footer-izquierdo {
  width: 50%;
  padding: 10px;
  line-height: 80px;
}
.footer-derecho {
  width: 50%;
  padding: 10px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
footer ul a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: block;
}
footer ul a:hover {
  background-color: #f1dab1;
  color: black;
  font-weight: bold;
}
/***********************FORMULARIO HTML*******************************/
.form header {
  background: #99d8df;
}
.formulario {
  background: #d5bdd9;
}
.formulario .btn {
  background: #3d2314;
  border: white 2px solid;
  color: white;
}
/***********************PRODUCTOS HTML*******************************/
.color2 {
  background-color: #f9c5c7;
}
.catalogo h1 {
  font-family: "Bungee Inline", cursive;
}
.catalogo {
  background-color: #fd657e;
  color: white;
}
.fondo {
  transition: width 6s, height 6s, transform 6s;
}
.catalogo .card:hover {
  transform: scale(1.05, 1.05);
}
/***********************NOSOTRAS HTML*******************************/
.main-nosotras {
  margin-bottom: 20px;
  color: #3d2314;
}
#ourstory {
  background-color: #fbdcdd;
  padding-top: 10%;
}
#ourstory p {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 40px;
}
#ourstory h1 {
  font-family: "Bungee Inline", cursive;
  text-align: center;
}
